{% extends 'base_final.html' %}

{% block title %}Vagas disponiveis{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Vagas disponiveis</h1>
    <ul class="task-list">
        {% for job in jobs %}
                <li class="task-item done">
                    <span><a href="/job/{{job.id}}">{{job.cargo}}</a></span>

                </li>
        {% endfor %}

    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if jobs.has_previous %}
                <a href="?page={{ jobs.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}

            {% if jobs.paginator.num_pages %}
            <span class="current">
                {{ jobs.number }} de {{ jobs.paginator.num_pages }}
            </span>
            {% endif %}
            {% if jobs.has_next %}
                <a href="?page={{ jobs.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
