{% extends 'base_final.html' %}

{% block title %}Descrição da Vagas{% endblock %}

{% block content %}
        <div class="offset-1 col-10 list-div">

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Cargo</th>
                      <th scope="col">Descrição</th>
                      <th scope="col">Empresa</th>
                      <th scope="col">Contrato</th>
                      <th scope="col">Cidade</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Criterio</th>
                      {% if perms.jobs.add_jobs %}
                      <th scope="col">Participantes</th>
                       {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">{{job.cargo}}</th>
                      <td>{{job.description}}</td>
                      <td>{{job.user.first_name}}</td>
                      <td>{{job.contract_type}}</td>
                      <td>{{job.city}}</td>
                      <td>{{job.state}}</td>
                      <td>{{job.criterict}}</td>
                      {% if perms.jobs.add_jobs %}
                       <td>{{list}}</td>
                      {% endif %}
                    </tr>
                  </tbody>
                </table>
                <a id="add-li" href="/aplication/{{job.id}}">
                        <div class="col-2 add-div">
                                <i class="fas fa-plus"></i> Aplicar uma Vaga
                        </div>
                </a>
        </div>
{% endblock %}